h1 {
    font-size: 35px;
}

.nike-primary-color {
    color: #FA804C;
}

.nike-secondary-color {
    color: #363958;
}

.nike-tertiary-color {
    color: #3C3C3C !important;
}

.nike-bg-primary {
    background-color: #FFF9F4;
}

.nike-bg-secondary {
    background-color: #F1F1F1;
}

.box-shadow {
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

/* button */
.nike-button-color {
    background-image: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    border: 0px;
    padding: 10px 28px;
    color: #FFFFFF;
}
.font-weight{
    font-weight: 700;
}

@media only screen and (max-width:576px) {
    .information .information-text{
        text-align: center;
    }
    
}
@media only screen and (min-width:577px) and  (max-width:768px){
    .information .information-text{
        text-align: center;
    }
}
    @media only screen and (min-width:769px) and  (max-width:992px){
        .information .information-text{
            text-align: center;
        }
}