
h1{
    font-size: 60px;
}

.nike-primary-color {
    color: #FA804C;
}

.nike-secondary-color {
    color: #363958;
}

.nike-tertiary-color {
    color: #3C3C3C !important;
}

.nike-bg-primary {
    background-color: #FFF9F4;
}
/* button */
.nike-button-color {
    background-image: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    border: 0px;
    padding: 10px 28px;
    color:  #FFFFFF;
}